.image {
  width: 45px;
  border-radius: 50%;
  margin-right: 30px;
}
.button{
    position: relative;
    top: 20px;
}
.item{
  position: absolute;
  right: 0px;
}
.span{
  cursor: pointer;
}
.menu{
  position: relative;
}
.menuItem {
  color: #1890ff !important;
  background: #001529 !important;
}
.footer {
  color: #001529 !important;
}
